.space {
  z-index: 99;
  position: fixed;
  top: 0;
}

.quake_x {
  animation: quakeX 0.1s;
}
@keyframes quakeX {
  0% {
    transform: translateX(0px);
  }
  12% {
    transform: translateX(5px);
  }
  24% {
    transform: translateX(0px);
  }
  36% {
    transform: translateX(-5px);
  }
  48% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(5px);
  }
  72% {
    transform: translateX(0px);
  }
  84% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.quake_y {
  animation: quakeY 0.1s;
}
@keyframes quakeY {
  0% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(5px);
  }
  24% {
    transform: translateY(0px);
  }
  36% {
    transform: translateY(-5px);
  }
  48% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(5px);
  }
  72% {
    transform: translateY(0px);
  }
  84% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
